.status {
  font-size: 11px;

  &.offline {
    color: red;
  }

  &.online {
    color: lightgreen;
  }

  &.private {
    color: yellow;
  }
}
.name {
  a {
    text-decoration: none;
    &:hover {
      background: white;
      cursor: pointer;
      color: black;
    }
  }
}