.resume {
  background: black;
  color: white;
  height: 100%;

  .header {
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .name {
      text-align: center;

      button {
        background: black;
        color: white;
        border: 3px white solid;
        padding: 10px;
        font-size: 0.85em;
        font-family: inherit;
        outline: none;

        &:hover {
          background: white;
          color: black;
          cursor: pointer;
          outline: none;
        }
      }
    }

    .avatar {
      border-radius: 8px;
      width: 45%;
      max-width: 270px;

      // margin: 0 auto;


      &:hover {
        cursor: none;
        animation: contrast 1s ease 100ms infinite normal;
      }

      @keyframes contrast {
        from {
          filter: contrast(1);
        }

        50% {
          filter: contrast(5);
        }

        to {
          filter: contrast(1);
        }
      }
    }
  }

  section {
    a {
      color: white;
    }
  }
}