.bday-container {
  font-family: monospace;
  text-align: center;
  .cake {
    font-size: 50px;
  }
}
.tab {
  border-radius: 8px;
  margin: 10px auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
  color: black;
  background: white;
  box-sizing: border-box;
  padding: 10px;
  min-width: 200px;
  min-height: 100px;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  // transition: color, background 0.16s linear;

  // &:hover {
  //   background: black;
  //   color: white;
  //   box-shadow: none;
  //   cursor: pointer;
  //   a {
  //     color: white;
  //   }
  // }
}
.get-there {
}

.time-block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .title {
    font-weight: 600;
  }
  .description {
    font-size: 0.7rem;
    opacity: .7;
  }
}
