@import './mixins.scss';
@import './clay.scss';
@import './glitch.scss';
@font-face {
  font-family: "Eina";
  font-weight: normal;
  src: url("./fonts/Eina03-Regular.ttf")
 }
 @font-face {
  font-family: "Eina";
  font-weight: bold;
  src: url("./fonts/Eina03-SemiBold.ttf") 
 }
 @font-face {
  font-family: "Eina";
  font-weight: bolder;
  src: url("./fonts/Eina03-Bold.ttf") 
 }
 @font-face {
  font-family: "Eina";
  font-weight: lighter;
  src: url("./fonts/Eina03-Light.ttf") 
 }
 @font-face {
  src: url('./fonts/MR\ ROBOT.ttf');
  font-family: 'MR-ROBOT'
}
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


 body {
  margin: 0;
  padding: 0;
  font-family: "Eina";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  background: black;
  display: flex;
  justify-content: space-around;
  nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      color: white;
      &.active{

      }
      &.disabled {
          opacity: 0.65;
      }
    }
  }
}

.content {
  margin-top: 35px;
  max-width: 100vw;
  height: calc(100vh - 40px - 35px);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
footer {
  height: 40px;
  background: black;
  display: flex;
  justify-content: space-around;
  a {
    display: flex;
    align-items: center;
    color:white;
  }
}
