.trophey-card {
  border-radius: 8px;
  margin: 10px;
  color: black;
  background: white;
  box-sizing: border-box;
  padding: 10px;
  min-width: 200px;
  min-height: 100px;
  max-width: 425px;
  max-height: 200px;
  box-shadow: rgb(190, 203, 216) 11px 11px 22px 0px,
    rgb(243, 249, 255) -11px -11px 22px 0px;
  transition: box-shadow 0.16s linear;

  &:hover {
    box-shadow: #becbd8 6px 6px 22px 0px, #f3f9ff -6px -6px 22px 0px;

    cursor: pointer;
  }
}

.ReactModal__Content {
  button.cancel-btn {
    background: none;
    border-radius: 8px;
    color: black;
    border: none;
    padding: 4px 9px;
    position: absolute;
    top: 2%;
    right: 2%;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button.gallery-btn {
    border: none;
    font-size: 1.5em;
    color: black;
    margin: 5px;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }

  .tech {
    font-style: italic;
    font-size: 0.8em;
  }

  .links {
    a {
      font-size: 1.5em;
      color: black;
      margin: 5px;
    }
  }
}
